@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
p{
    margin:0.75rem 0;
}
/* UTILITY CLASSES */
.text-primary{
    color:#93cb52;
}
/* UTILITY CLASSES */
/* NAVBAR */
#navbar{
    background:#333;
    color:#fff;
    position: sticky;
    top:0px;
    display:flex;
    justify-content: space-between;
    z-index: 2;
    padding:1rem;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    color:#fff;
    padding:0.75rem;
    margin:0 0.25rem;
}
#navbar ul li a:hover{
    background:#93cb52;
    border-radius: 5px;
}
/* NAVBAR */